.sponsors-container{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    @media (max-width: 768px){
        flex-direction: column;
    }
}
.sponsorss{
    display: grid;
    place-content: center;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0f3879;
    padding: 10px 0;
}
.head h3{
    font-size: 1.6rem;
    /* color: #0f3879; */
    font-weight: normal;
    @media (max-width: 768px){
        font-size: 1.6rem;
    }

}
.us{
    @media (max-width: 768px){
        padding: 0;
    }
}