.speaker-container{
  width: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

 .image-container{
  width: 24%;
  margin: auto;
  @media (max-width: 768px){
    width: 30%;
  }
  @media (max-width: 768px){
    width: 40%;
  }
  @media (max-width: 500px){
    width: 80%;
  }
}

.topic {
  margin: auto;
  margin-bottom: 15px;
  font-size: 3.125rem;
  color: #0f3879;
  width: fit-content;
  text-align: center;
  font-weight: 700;
}
